.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk'),
  url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}
