.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}

.card {
  width: 100%;
  border-radius: calc(0.3rem - 0px);
}

.card:hover .top-layout {
  opacity: 0.5 !important;
}

.top-layout {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.card-img-top {
  width: 100%;
  border-radius: 32px;
}

@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk'),
  url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}
