@tailwind base;
@tailwind components;
@tailwind utilities;

.content-div{
  background-image:url('https://images.unsplash.com/photo-1522093007474-d86e9bf7ba6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  transition: all 0.5s ease-in-out;
}

.project-one {
  background-image:url('/images/thumbnail-project-1-large.webp');
}

.project-two {
  background-image:url('/images/thumbnail-project-2-large.webp');
}

.project-three {
  background-image:url('/images/thumbnail-project-3-large.webp');
}
  .content-div:hover{
    background-image:
    linear-gradient(to right,
    rgba(153, 246, 228, 0.801), hsla(160, 64%, 43%, 0.801));
    background-repeat: no-repeat;

    }

    .image-cover  {
      height:260px;
      
    }

@layer components {
  .btn {
    @apply underline decoration-teal-400 decoration-2 my-8 py-2 hover:scale-110 hover:transition-all hover:ease-in-out hover:text-teal-400 hover:bg-blend-darken hover:bg-zinc-800 px-2 rounded-sm;
  }


}